.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.layout-header {
  position: fixed; /* Fija el Header */
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0px;
}

.layout-content {
  flex: 1;
  margin-top: 64px; /* Ajusta según la altura del Header */
  overflow-y: auto; /* Permite scroll solo en el cuerpo */
  padding: 20px; /* Espaciado opcional */
}
